.App {
  text-align: center;
}

.App-logo, .App-logo img  {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  pointer-events: none;
  float: left;
}

.App-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  background-color: #0b3da0;
  height: 50px;
  display: flex;  
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main{
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
main section{
  display: flex;
  width: 45%;
  border:1px dotted #ccc;
  padding: 20px 0px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.new-task{
  display: inline-flex;
  height: 40px;
}
.list-todos{
  flex-flow: column;
}
.addTodo{
  display: inline-flex;
  height: 45px;
}

.App-link {
  color: #61dafb;
}

.App-menu a{
  margin: 0px 10px;
  text-decoration: none;
  color: #ffffff;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
